@charset "utf-8";
/***************************************************************************/
/********************************  $Content  *******************************/
/**
* + Content
* + Imports Fonts and Icons
* + General Tags
*
* + Animate Itemas on Start
* + Animation Carousel Pagination
* + Buttons
* + Dropdown
* + Features
* + Forms
* + Home
* + Image Thumbnail
* + Isotope
* + Menu Effect
* + Navbar Toggle
* + Navigation
* + Numbers
* + Plans
* + Preloader
* + Premium TV
* + Social
* + Sticky
* + Subscribe
* + Testimonias
*/
/**
 *
 *
 *
 *
/************************  $Import Fonts and Icons  ************************/
/*
 *
/* Raleway - From Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800");
/**
 *
 *
 *
 *
/***************************************************************************/
/*****************************  $General Tags  *****************************/
a {
  color: #00b9fe;
  font-family: 'Raleway';
  font-size: 0.875em;
  outline: 0;
}
a:hover {
  color: #dde6ed;
  text-decoration: none;
  outline: 0;
}
article {
  background-color: #04111f;
  position: relative;
  z-index: 1;
}
article::before,
article::after {
  background: inherit;
  content: '';
  height: 75%;
  left: -25%;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 150%;
  z-index: -1;
}
article:first-child::before,
article:first-child::after {
  display: none;
}
body {
  color: #667f93;
  font-family: 'Raleway';
  font-size: 16px;
}
footer {
  background-color: #0f283e;
  border-top: 1px solid #1e374b;
}
footer .navbar {
  margin: 10px 0;
}
footer .navbar-nav {
  float: left;
}
footer .navbar-nav>li>a {
    color: #385975;
    line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #577285;
  font-family: 'Raleway';
  font-weight: 600;
  margin: 1.5em 0 0.5em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
  text-align: center;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.875em;
}
header {
  background-color: rgba(22,40,54,0.9);
  height: 60px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 999;
}
header:hover {
  background-color: #162836;
}
header .submit{
  border: 1px solid #01bafd;
  color: #01bafd;
}
header .navbar-brand {
  margin: 0;
  padding: 0;
}
header .navbar-brand img {
  margin: 1em auto 0 auto;
}
img {
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
object,
embed {
  outline: 0;
}
p {
  color: #8da5b9;
  font-family: 'Raleway';
  font-size: 0.875em;
  line-height: 1.8em;
}
p a {
  font-size: 1em;
}
section {
  overflow: hidden;
}
section h1:first-child {
  margin-top: 0;
}
ul {
  padding: 0;
}
.m-b-70{
    margin-bottom: 40px!important;
}
/**
 *
 *
/***********************  $Animate Itemas on Start  ************************/
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/**
 *
 *
/********************  $Animation Carousel Pagination  *********************/
.owl-theme .owl-controls {
  bottom: 0;
  cursor: default;
  display: inline-block;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 0;
}
.owl-theme .owl-controls .owl-page {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  display: block;
  float: left;
  height: 16px;
  margin: 0 3.5px;
  position: relative;
  text-indent: 0;
  width: 16px;
}
.owl-theme .owl-controls .owl-page:last-child {
  left: 0;
  margin: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
  width: 23px;
}
.owl-theme .owl-controls .owl-page:last-child::after {
  background-color: #01bafd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  height: 16px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 16px;
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: absolute;
  text-indent: -999em;
  top: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 100%;
}
.owl-theme .owl-controls .owl-page span:hover,
.owl-theme .owl-controls .owl-page span:focus {
  background-color: #01bafd;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #fff;
}
.owl-theme .owl-controls .owl-page.active:first-child ~ .owl-page:last-child {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.owl-theme .owl-controls .owl-page.active:nth-child(2) ~ .owl-page:last-child {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.owl-theme .owl-controls .owl-page.active:nth-child(3) ~ .owl-page:last-child {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -o-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}
.owl-theme .owl-controls .owl-page.active:nth-child(4) ~ .owl-page:last-child {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -o-transform: translateX(300%);
  -ms-transform: translateX(300%);
  transform: translateX(300%);
}
.owl-theme .owl-controls .owl-page.active:nth-child(5) ~ .owl-page:last-child {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -o-transform: translateX(400%);
  -ms-transform: translateX(400%);
  transform: translateX(400%);
}
.owl-theme .owl-controls .owl-page.active:nth-child(6) ~ .owl-page:last-child {
  -webkit-transform: translateX(500%);
  -moz-transform: translateX(500%);
  -o-transform: translateX(500%);
  -ms-transform: translateX(500%);
  transform: translateX(500%);
}
/**
 *
 *
/*******************************  $Buttons  ********************************/
.btn {
  background-color: #04121f;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #01bafd;
  color: #fff;
}
.btn.btn-filter {
  background-color: #04111f;
  border: 1px solid #01a9ea;
  color: #90a5b8;
  font-size: 13px;
  margin: 5px;
  min-width: 100px;
}
.btn.btn-filter.active,
.btn.btn-filter:hover {
  background-color: #01a9ea;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.btn.btn-plans {
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  height: 50px;
  padding: 0.3em 0.5em;
  position: relative;
  text-transform: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: 1;
}
.btn.btn-plans:hover,
.btn.btn-plans:active {
  color: #fff;
}
.btn.btn-plans:after {
  background: #01bafd;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: -1;
}
.btn.btn-plans:hover:after,
.btn.btn-plans:active:after {
  height: 100%;
}
.btn.btn-social {
  margin: 0 0 10px 0;
  padding: 0 0 0 48px;
  position: relative;
  text-align: left;
  width: 100%;
}
.btn.btn-social i {
  font-size: 1.5em;
  height: 38px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 38px;
}
.btn.btn-social.twitter {
  background-color: #01a9ea;
}
.btn.btn-social.twitter i {
  background-color: #34baef;
}
.btn.btn-social.facebook {
  background-color: #5775bb;
}
.btn.btn-social.facebook i {
  background-color: #7a90c9;
}
.btn.btn-social.gplus{
    background-color: #dd4b39;
}
.btn.btn-social.gplus i{
    background-color: #E46656;
}
.btn.btn-social.dribbble{
    background-color: #ea4c89;
}
.btn.btn-social.dribbble i{
    background-color: #FB6FA5;
}
.btn.btn-social.skype{
    background-color: #00aced;
}
.btn.btn-social.skype i{
    background-color: #24BFF9;
}
.btn.btn-subscribe {
  background-color: #dde6ed;
  border: 2px solid #01bafd;
  color: #01bafd;
  font-size: 1.2em;
  height: 67px;
  width: 190px;
}
.btn.btn-subscribe:hover {
  background-color: #01bafd;
  border-color: #dde6ed;
  color: #dde6ed;
}
/**
 *
 *
/*******************************  $Dropdown  *******************************/
.navbar-nav>li>.dropdown-menu {
  background: rgba(22,40,54,0.9);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  left: -50%;
  padding: 20px;
  position: absolute;
  top: 70px;
  width: 225px;
}
.navbar-nav>li>.dropdown-menu:after {
  border-color: rgba(22,40,54,0.9) transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  content: '';
  display: block;
  left: 102px;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
}
/**
 *
 *
/*******************************  $Experience  *******************************/
.experience {
  background-color: #04111f;
  padding: 20px 0 0 0;
}
.experience h2{
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
.experience h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 70px;
  max-width: 580px;
}
.cv-section {
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 60px;
}
.cv-item {
  padding: 25px 0 5px 30px;
  border-left: 1px solid #e1e1e1;
  margin-top: -10px;
}
.cv-section-title{
  padding: 15px 0;
  text-align: right;
}
.cv-section-title h1 {
  color: #01BAFD;
  font-weight: 800;
  line-height: 57px;
  position: relative;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.cv-section-title h3 {
  color: #dde6ed;
  font-weight: 800;
  line-height: 26px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cv-item h3{
  color: #dde6ed;
  font-size: 1em;
  text-transform: uppercase;
}
.cv-section-title p {
  font-size: .8em;
  margin-bottom: 5px;
  text-transform: uppercase;

}
.cv-section-title p, .cv-item p{
  line-height: 30px;
}
.cv-section-title h1:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  border-bottom: 1px solid #e1e1e1;
  content: "";
}
.cv-section-title h1 span {
  position: relative;
}
.cv-section-title h1 span small {
  color: #dde6ed;
  font-size: .4em;
  left: 0;
  position: absolute;
  top: -10px;
}
.cv-item h3{
  font-weight: 800;
  margin-top: 0;
}
.cv-section:last-child{
  margin-bottom: 0;
  border-bottom: none;
}
.cv-section-title h1, .cv-section-title h3, .cv-item h3{
  margin-top: 0;
}
/**
 *
 *
/*******************************  $Education  *******************************/
.education {
  background-color: #04111f;
  padding: 20px 0 0 0;
}
.education h2{
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
.education h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 70px;
  max-width: 580px;
}
/**
 *
 *
/*******************************  $Features  *******************************/
.features {
  background-color: #04111f;
  padding: 60px 0;
}
.features h2 {
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0 100px;
  text-align: right;
  text-transform: uppercase;
}
.features h3 {
  color: #577285;
}
.features h3 strong {
  color: #dde6ed;
}
.features h6 {
  font-size: 1em;
  font-weight: 300;
  margin: 30px 100px;
  text-align: right;
}
.features .phone {
  float: right;
  margin: 0 78px 0 0;
  width: 400px;
}
.features .device {
  float: left;
  margin: 20px 0;
}
.features .device a {
  display: block;
}
.features .device img {
  height: 150px;
  width: auto;
}
.features .features-item {
  margin: 0px 20px 20px 20px;
}
.features .features-item h4 {
  font-size: 1.2em;
  font-weight: 700;
}
.features .features-item .icon {
  background-color: #dde6ed;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #577285;
  cursor: context-menu;
  display: block;
  font-size: 1.3em;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 60px;
}
.features .features-item .icon:hover {
  background-color: #01bafd;
  color: #fff;
}
/**
 *
 *
/********************************  $Forms  *********************************/
.form-control {
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color:#dde6ed;
}
.form-login {
  margin-top: 5px;
}
.form-login .btn {
  width: 100%;
}
.form-login .form-control {
  background-color: #15354e;
  color: #4c86ae;
  font-size: 0.875em;
  font-weight: 700;
  height: 38px;
  text-transform: uppercase;
  width: 100%;
}
.form-login .form-group {
  margin: 0 0 10px 0;
}
/**
 *
 *
/*********************************  $Home  *********************************/
.home {
  background-image: url("../img/bg/background1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 640px;
  padding-top: 60px;
}
.home h2 {
  color: #fff;
  font-size: 4em;
}
.home h5 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}
.home .btn {
  color: #01bafd;
  height: auto;
  margin-top: 6em;
  padding: 7px 40px;
}
.home .btn:hover {
  color: #04121f;
}
.home .bg-cover {
  background-color: rgba(29,48,63,0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.home .carousel-control {
  background: none;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
}
.home .carousel-control.left {
  left: 30px;
}
.home .carousel-control.right {
  right: 30px;
}
.home .carousel-inner {
  height: 500px;
}
.home .carousel-inner .item {
  margin: 0 auto;
  text-align: center;
}
/**
 *
 *
/***************************  $Image Thumbnail  ****************************/
.item-thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.item-thumbnail:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.item-thumbnail:hover .icons {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 45%;
}
.item-thumbnail:hover .overthumb {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  top: 0;
}
.item-thumbnail img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.item-thumbnail .icons {
  display: block;
  font-size: 19px;
  height: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
}
.item-thumbnail .icons a {
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 2em;
  height: 60px;
  margin: -30px 0 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 60px;
}
.item-thumbnail .icons a:hover {
  border-color: #dde6ed;
  color: #dde6ed;
  text-decoration: none;
}
.item-thumbnail .overthumb {
  background: #01b9ff;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

/**
 *
 *
/*******************************  $Isotope  ********************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  -ms-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
/**
 *
 *
/*****************************  $Knowledge  ******************************/
.knowledge {
  padding: 60px 0;
}
.knowledge h2 {
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
.knowledge h3{
  color: #dde6ed;
  font-weight: 800;
  margin-bottom: 40px;
}

.knowledge h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 30px;
  max-width: 580px;
}
.content-bar {
  margin-bottom: 20px;
}
.progress {
  border-radius: 0;
  box-shadow: none;
  height: 8px;
  margin: 0;
  overflow: visible;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
}
.progress .progress-bar {
  background-color: #01BAFD;
  height: 8px;
  position: relative;
}
.progress .progress-bar span {
  position: absolute;
  right: 0;
  top: -45px;
  padding: 0 5px;
  background-color: #01bafd;
  color: #fff;
}
.progress .progress-bar span:after{
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 7px solid #01bafd;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: -5px;
  content: "";
  transform: scale(0.9999);
}
.horizontal-bar p {
  font-size: .9em;
  margin-bottom: 15px;
  line-height: 24px;
}
.icon-box-1 {
  position: relative;
  margin-bottom: 30px;
}
.icon-box-1 p{
  font-size: .8em;
}
.icon-box-1 > i {
  float: left;
  display: block;
  width: 85px;
  height: 85px;
  color: #dde6ed;
  border: 1px solid #01BAFD;
  font-size: 32px;
  line-height: 85px;
  text-align: center;
}
.icon-box-1 > img {
  float: left;
  display: block;
}
.icon-box-1 h4 {
  color: #01BAFD;
  font-size: .8em;
  line-height: 34px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.icon-box-1 .icon-box-content { margin-left: 110px; }
.pie-chart {
  position: relative;
  margin: 0 auto 30px auto;
  text-align: center;
}
.pie-chart canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.pie-chart i,
.pie-chart .pie-chart-custom-text,
.pie-chart .pie-chart-percent {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}
.pie-chart img {
  max-width: 100%;
  vertical-align: middle;
}
.pie-chart .pie-chart-custom-text {
  margin-top: 50px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.pie-chart .pie-chart-custom-text span {
  font-size: 14px;
}
.pie-chart .pie-chart-percent {
  font-size: 16px;
  font-weight: 700;
}
.pie-chart-description {
  display: block;
  font-size: 12px;
  text-align: center;
}
ul.check{
  list-style: none;
}
ul.check li {
  font-size: .8em;
  line-height: 34px;
}
#skills .headline p span {
  background-color: #f6f6f6; 
}

.interests-list { 
  list-style: none; 
}
.interests-list li {
  position: relative;
  float: left;
  margin-right: 61px;
  text-align: center;
}
.interests-list li:last-child { 
  margin-right: 0;
}
.interests-list li > p { 
  margin-bottom: 0;
}
.interests-list li > p i {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #01BAFD;
  margin-bottom: 25px;
  color: #DDE6ED;
  font-size: 25px;
  line-height: 70px;
}
.interest-details {
  position: absolute;
  top: -45px;
  left: -45px;
  width: 200px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
  padding: 25px;
  background-color: rgba(1, 186, 253, 0.9);
  color: #fff;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
     -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
}
.interests-list li:first-child .interest-details { 
  left: 0;
}
.interest-details i {
  display: inline-block;
  margin: 0 8px 0px 0;
  font-size: 25px;
  vertical-align: middle;
}
.interest-details p {
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  font-size: .7em;
}.interests-list li:hover .interest-details {
  opacity: 1;
  z-index: 9999!important;
}
/**
 *
 *
/*****************************  $Menu Effect  ******************************/
.menu-effect>li>a::before,
.menu-effect>li>a::after {
  color: #01bafd;
  display: inline-block;
  font-weight: 600;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -o-transition: -o-transform 0.3s, opacity 0.2s;
  -ms-transition: -ms-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.menu-effect>li>a::before {
  content: '|';
  margin-right: 10px;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.menu-effect>li>a::after {
  content: '|';
  margin-left: 10px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}
.menu-effect>li>a:hover::before,
.menu-effect>li>a:hover::after,
.menu-effect>li>a:focus::before,
.menu-effect>li>a:focus::after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
/**
 *
 *
/****************************  $Navbar Toggle  *****************************/
.navbar-toggle {
  border-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
/**
 *
 *
/******************************  $Navigation  ******************************/
.navbar-nav {
  float: right;
}
.navbar-nav>li>a {
  color: #8A8A8C;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  padding: 20px 10px;
  position: relative;
  text-transform: uppercase;
  outline: 0;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:active {
  background-color: transparent;
  color: #fff;
  outline: 0;
}
.navbar-nav>li.open>a,
.navbar-nav>li.open>a:hover,
.navbar-nav>li.open>a:focus {
  background-color: transparent;
}
.navbar-nav>li.active>a {
  color: #d6ac22;
}
/**
 *
 *
/*******************************  $Numbers  ********************************/
.numbers {
  background-color: #000;
  min-height: 600px;
  padding: 170px 0 50px 0;
  text-align: center;
  z-index: -9999;
}
.numbers::before,
.numbers::after {
  background: #04111f;
  height: 110px;
  z-index: 0;
}
.numbers .item {
  display: inline-block;
  font-size: 0.8em;
  margin: 30px auto;
  position: relative;
  text-align: center;
}
.numbers .item h3 {
  color: #01bafd;
  font-size: 4.5em;
  font-weight: 800;
  margin: 0;
}
.numbers .item p {
  color: #fff;
  font-size: 1.6em;
  text-transform: uppercase;
}
.numbers .item span {
  border: 2px solid #01bafd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #01bafd;
  display: block;
  font-size: 3em;
  height: 130px;
  line-height: 130px;
  margin: 0 auto;
  text-align: center;
  width: 130px;
}
.player {
  background-color: #324f7b;
  padding: 0;
  min-height: 300px;
  position: relative;
}
/**
 *
 *
/********************************  $Plans  *********************************/
.plans {
  background-color: #04111f;
  padding: 100px 0 120px 0;
}
.plans h2 {
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-transform: uppercase;
}
.plans h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 70px;
  max-width: 580px;
}
.plans .brands {
  display: inline-block;
  margin: 0 15px 20px 15px;
  width: 170px;
}
.plans .plans-items {
  background-color: #dde6ed;
  margin-bottom: 50px;
  padding: 30px 50px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.plans .plans-items:hover {
  background-color: #dde6ed;
}
.plans .plans-items:hover strong {
  color: #01bafd;
}
.plans .plans-items:hover .btn {
  background: #01bafd;
  color: #fff;
}
.plans .plans-items:hover li {
  color: #dde6ed;
}
.plans .plans-items:hover p{
  color: #dde6ed;
}
.plans .plans-items p {
  font-weight: 700;
  color: #577285;
  font-size: 1.4em;
}
.plans .plans-items strong {
  color: #dde6ed;
  font-size: 4.5em;
  font-weight: 700;
}
.plans .plans-items strong small {
  font-size: 16px;
  font-weight: 300;
}
.plans .plans-items ul {
  list-style: none;
  margin: 0 0 20px 0;
}
.plans .plans-items ul li {
  color:#577285;
  line-height: 1.8em;
}
/**
 *
 *
/******************************  $Preloader  *******************************/
#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.preloader {
  background: #fff;
  height: 36px;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 36px;
}
/*******************************  $Parallax  *******************************/

.parallax {
  background-attachment: fixed;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.parallax:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.parallax .container {
  position: relative;
  z-index: 2;
}
/**
 *
 *
/******************************  $Premium TV  ******************************/
.premium-tv {
  padding: 80px 0 0 0;
}
.premium-tv h2 {
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
.premium-tv h6 {
  color: #667d8f;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 70px;
  max-width: 580px;
}
.premium-tv .premium-tv-grid {
  margin: 40px -15px 0px -15px;
}
.premium-tv .premium-tv-item {
  margin: 0 15px 50px;
  padding: 0 30px 13px;
  position: relative;
  width: 360px;
}
.premium-tv .premium-tv-item:after,
.premium-tv .premium-tv-item:before {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  content: ' ';
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.premium-tv .premium-tv-item:after {
  background-color: #112d4b;
  bottom: 3px;
  height: 20px;
}
.premium-tv .premium-tv-item:before {
  background-color: #091d33;
  bottom: 0;
  height: 10px;
}
.premium-tv .premium-tv-item figure {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  float: left;
  height: 210px;
  margin: 0 20px 0 0;
  width: 150px;
}
.premium-tv .premium-tv-item h3 {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
  text-transform: uppercase;
}
.premium-tv .premium-tv-item p {
  font-size: 1em;
  margin: 10px 0;
}
.premium-tv .premium-tv-item strong {
  color: #d4dbe3;
  font-size: 1.5em;
}
.premium-tv .premium-tv-item strong em {
  color: #ffb91b;
}
.premium-tv .premium-tv-item strong i {
  margin: 0 0 0 -17px;
}
.premium-tv .premium-tv-item strong i:first-child {
  margin: 0 0 0 -5px;
}
/**
 *
 *
/********************************  $Social  ********************************/
.profile {
  background-color: #fff;
  padding: 100px 0 0 0;
}
.profile figure{
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}
.profile h2 {
  color: #dde6ed;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0 100px;
  text-transform: uppercase;
}
.profile h3 {
  color: #577285;
}
.profile h3 strong {
  color: #dde6ed;
}
.profile h6 {
  font-size: 1em;
  font-weight: 300;
  margin: 30px 100px;
  text-align: center;
}
.profile p{
    font-size: .9em;
}
.profile .icons {
  margin: 0;
}
.profile .icons a {
  font-size: 1.1em;
  height: 60px;
  line-height: 50px;
  margin: 0;
}
/**
 *
 *
/********************************  $Social  ********************************/
.social {
  list-style: none;
  margin: 10px 0;
  text-align: right;
}
.social li {
  display: inline-block;
}
.social li a {
  background-color: #375975;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #0f283e;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  margin: 20px 3px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 20px;
}
.social li a:hover {
  background-color: #01bafd;
}
/**
 *
 *
/********************************  $Sticky  ********************************/
.stickyWrapper {}
/**
 *
 *
/*******************************  $Subscribe  *******************************/
.subscribe {
  background-color: #0f283e;
  padding: 60px 0;
}
.subscribe h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 800;
  margin: 0 0 20px 0;
}
.subscribe h6{
    font-weight: 300;
}
.subscribe h2.name{
  font-weight: 300;
}
.modal-body .form-control{
 border: 1px solid #dde6ed;
}
span.divider {
    display: block;
    margin: 35px 0px 0px 0px;
    width: 150px;
    height: 2px;
    background-color: #01bafd;
}
span.divider.center {
    margin-right: auto;
    margin-left: auto;
}
span.divider.bottom {
    margin-bottom: 20px;
    width: 60px;
    height: 4px;
}
.ct-bubble{
    position: relative;
    width: 130px;
    height: 140px;
    margin: auto;
}
i.icon-comment-alt2{
    display: block;
    position: absolute;
    z-index: 5;
    color: #fff;
    font-size: 100px;
}
/**
 *
 *
/*****************************  $Testimonials  *****************************/
.testimonials {
  background-image: url("../img/bg/background2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 160px 0 70px 0;
}
.testimonials::before,
.testimonials::after {
  background: #04111f;
  height: 110px;
}
.testimonials figure {
  height: 260px;
  left: 0;
  padding: 10px 0 0 0;
  position: absolute;
  top: 0;
  width: 250px;
}
.testimonials figure:hover a {
  background-color: rgba(0,185,254,0.5);
  height: 250px;
  line-height: 250px;
  top: 10px;
  width: 250px;
}
.testimonials figure a {
  background-color: #01bafd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: 85px;
  line-height: 85px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 85px;
}
.testimonials figure img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.testimonials h2 {
    color: #FFFFFF;
    font-size: 4.4em;
    font-weight: 800;
    line-height: 0.9em;
    margin: 0px 0px 40px 0;
    text-align: left;
    text-transform: uppercase;
}
.testimonials h3 {
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
}
.testimonials h5 {
  color: #fff;
  font-weight: 300;
}
.testimonials .bg-cover {
  background-color: rgba(29,48,63,0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.testimonials .item {
  min-height: 270px;
  padding: 40px 0 0 300px;
  position: relative;
}
.testimonials .owl-theme .owl-controls {
  bottom: 50px;
  left: 300px;
  position: absolute;
}
/*******************************  $Video  *******************************/
.video-yt iframe{
  height: 310px;
  width: 100%;
}
#wrapper_mbYTP_bgndVideo:before {
  background-image: url("../img/grid.html");
  background-color: rgba(0,0,0,0.4);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/*******************************  $Button Naira  *******************************/
.button--naira {
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #01bafd;
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}
.button--naira-up::before {
  -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}
.button--naira > span {
  display: block;
}
.button--naira .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--naira-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira > span{
    color: #01bafd;
}
.button--naira > span,
.button--naira .button__icon {
  padding: 8px 28px;
  font-weight: bold;
  font-size: .9em;
  text-transform: uppercase;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--naira .button__icon{
  color: #04121f;
  line-height: 32px;
}
.button--naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
  animation: anim-naira-1 0.3s forwards ease-in;
}
.button--naira-up:hover::before {
  -webkit-animation: anim-naira-2 0.3s forwards ease-in;
  animation: anim-naira-2 0.3s forwards ease-in;
}
@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.button--naira:hover {
  background-color: #01bafd;
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}
.button--naira:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira-up:hover > span {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button {
  margin: 5em;
  padding: 8px 5px;
  border: none;
  background-color: #04121f;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
